# Local PostgreSQL or production Databricks
PROD=false
COLLECTOR_DB_URL=
# DBX_SERVER_HOSTNAME=
# DBX_HTTP_PATH=
# AKV_VAULT_URL=
# AKV_SECRET_NAME=databricks-token
# DATABRICKS_TOKEN=
# COLLECTOR_START_DATE=1960-01-01
# COLLECTOR_HTTP_TIMEOUT=30
# COLLECTOR_LOG_LEVEL=INFO
